
body {
background-color:lightgrey;
}


.box{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
width: 400px;
padding: 40px;
background-color: rgba(0,0,0,.8);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0,0,0,.5);
border-radius: 10px;
transition:transform .7s ease;
z-index:1;
}

.box2{
position:fixed;
left:34%;
right:50%;
width: 400px;
padding: 40px;
background-color:#333;
box-sizing: border-box;
z-index:0;
}
.box h2, .box2 h2 {
padding:0;
margin:0;
color:#fff;
text-align:center;
}
.box .inputBox, .box2 .inputBox{
position:relative;
}
.box .inputBox input, .box2 .inputBox input{
width:100%;
padding:10px 0;
font-size:12px;
color:#fff;
margin-bottom:30px;
border: none;
outline:none;
background-color:transparent;
border-bottom: 1px solid #fff;
}
.box .inputBox label, .box2 .inputBox label
{
position:absolute;
top:0;
left:0;
padding:10px 0;
font-size:12px;
color:#fff;
pointer-events:none;
transition:.5s;
}
.box .inputBox input:focus:valid ~ label,
.box2 .inputBox input:focus:valid ~ label,
.box .inputBox input:valid ~ label,
.box2 .inputBox input:valid ~ label
    {
    top:-14px;
    left:0;
    color:#03a9f4;
    font-size:8px;

}


.box .inputBox input:focus:not(:valid) ~ label,
.box2 .inputBox input:focus:not(:valid) ~ label
{
    top:-14px;
    left:0 ;
    color:red ;
    font-size:8px ;
    
}

.box2 .inputBox .zzz ~label{
    top:-14px   !important;
    left:0      !important;
    color:red   !important;
    font-size:8px   !important;
}

.box2 .inputBox .zzz{
    border-bottom:1px solid red     !important;
}
.box .inputBox input:focus:not(:valid) ,
.box2 .inputBox input:focus:not(:valid)
{
        border-bottom:1px solid red;
}

.box input[type = "submit"], .box input[type = "button"], .box2 input[type = "submit"], .box2 input[type = "button"]{
    background-color:transparent;
    padding: 10px 20px;
    border:none;
    outline:none;
    color:#fff;
    background-color:coral;
    cursor:pointer;
    border-radius:5px;
    left:50%;
    right:50%;
    transform:translateX(175%);
}

.show{
    visibility:visible;
}

.hide{
    visibility:hidden;
}

header{
    background:#333;
    color:#fff;
    padding:20px;
    position: relative;
}

.site-title{
    margin-left:100px;
    font-size:1rem;
}

.nav-toggle{
    position:absolute;
    top:30px;
    cursor:pointer;
}

 nav a, nav span{
    color:#fff;
    text-decoration:none;
}

 nav li{
     list-style:none;
 }

 .main-navigation{
     position:fixed;
     top:0;
     left:0;
     width:100%;
     height:100%;
     background:#222;
     opacity:0.7;
     text-align:center;
     transform: translateX(-100%);
     transition: transform 0.6s ease;
     z-index:1;
 }


 .open{
    transform: translateX(0);
 }


 .main-navigation ul{
     margin:0;
     padding:0;
 }

 .main-navigation ul a, .main-navigation ul span{
     padding: 10px 20px;
     display: block;
     opacity:1;
 }

 .main-navigation ul a:hover, .main-navigation ul span:hover{
     background:#333;
 }

 .open{
    top:0%;
 }